.env
.env.*
!.env.example
*.pickle
credentials.json
__pycache__/
.history/
*.log
venv/
.venv/
.dockerignore
.idea/
.vscode/
applications.json
Dockerfile
yes.html
Pathwise2.py
history.json
career_history.json
research.py

